<head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=devise-width, initial-scale=1">
    <%#prevents cross-site request forgery%>
    <%= csrf_meta_tags %>
    <%#prevents XSS cross site scripting%>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 
                                            'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shrim' %>
</head>